@model List<RegistroSolicitudCheque>
@{
    ViewData["Title"] = "Registro Cheque";
}

<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <h2>Solicitudes de Cheque</h2>
        <div>
            <a id="add" class="btn btn-primary" asp-controller="RegistroSolicitudCheque" asp-action="Add">Agregar</a>

            <a class="btn btn-primary" id="EnviarAsiento">Asiento Contable</a>
        </div>
        
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    No. Solicitud
                </th>
                <th scope="col">
                    Proveedor
                </th>
                <th scope="col">
                    Monto
                </th>
                <th scope="col">Fecha Registro</th>
                <th scope="col">
                    Estado
                </th>
                <th scope="col">C.C. Proveedor</th>
                <th scope="col">C.C Relacionada</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model)
            {
                
                <tr>
                    <td>@Html.DisplayFor(m => element.NumeroSolicitud)</td>
                    <td>@Html.DisplayFor(m => element.Proveedor)</td>
                    <td>@Html.DisplayFor(m => element.Monto)</td>
                    <td>@Html.DisplayTextFor(m => element.FechaRegistroString)</td>
                    <td>@Html.DisplayFor(m => element.Estado)</td>
                    <td>@Html.DisplayFor(m => element.CuentaContableProveedor)</td>
                    <td>@Html.DisplayFor(m => element.CuentaContableRelacionada)</td>
                    <td>
                        <a class="btn btn-success" id="" asp-controller="RegistroSolicitudCheque" asp-action="UpdateC" asp-route-id="@element.Id">Generar</a>
                        <a class="btn btn-secondary" id="" asp-controller="RegistroSolicitudCheque" asp-action="UpdateA" asp-route-id="@element.Id">Anular</a>
                        <a class="btn btn-warning" id="edit" asp-controller="RegistroSolicitudCheque" asp-action="EditView" asp-route-id="@element.Id">Editar</a>
                        <a class="btn btn-danger" id="delete" asp-controller="RegistroSolicitudCheque" asp-action="Delete" asp-route-id="@element.Id">Eliminar</a>
                    </td>
                    
                    
                </tr>
                <tr>
                    <td>

                        
                    </td>
                </tr>
            }
        </tbody>
        
    </table>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            const data = {
                "descripcion": "Asiento de Cheques correspondiente al periodo 2023-12-09",
                "idAuxiliar": 9,
                "cuentas": [
                    {
                        "idCuentaContable": 82,
                        "descripcion": "Cuenta x pagar proveedor x",
                        "tipoMovimiento": "DB",
                        "monto": 9999.89
                    },
                    {
                        "idCuentaContable": 83,
                        "descripcion": "Cuenta y pagar proveedor y",
                        "tipoMovimiento": "CR",
                        "monto": 9999.89
                    }
                ]
            }
            // Manejador de clic para el botón
            $("#EnviarAsiento").click(function () {
                // Realiza la llamada AJAX al controlador
                $.ajax({
                    url: '/api/AsientoContable/EnviarAsiento',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (data) {
                        // Maneja el éxito de la llamada
                        toastr.success('Datos enviados exitosamente.'); // Puedes mostrar un mensaje de éxito o realizar otras acciones
                    },
                    error: function (error) {
                        // Maneja errores de la llamada
                        toastr.error('Error al enviar la solicitud: ' + error.responseText);
                    }
                });
            });
        });
    </script>
        }